.ssg_prize {
    &__thumbnail {
        border: solid 1px #d9d9d9;
        border-radius: 2px;
        padding: $ssg_space;
        min-height: 434px;
    }

    &__item {
        cursor: pointer;
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.1);
        }

        p {
            color: inherit;
        }
    }
}