.wep_banner {
    &__slider {
        img {
            min-height: 550px !important;
            object-fit: cover;

            &.wep_banner_logo {
                min-height: auto !important;
            }
        }

    }
}