.wep_footer_bottom {
    padding: $wep_space*1.4 0;
}

.wep_social_icons {    
    a {
        display: inline-block;
        padding: 0 10px;

        &:last-child {
            padding-right: 0;
        }

        transition: transform 0.4s;
        &:hover {
            transform: scale(1.5);
        }
    }    
}