body {
    padding-right: 0 !important;
}

.ssg_header {
    // Root for mega menu item


    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    // Left
    .header_left {
        width: 100%;
        justify-content: space-between;
    }

    // Right
    .header_right {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: none !important;

        .search-icon {
            padding: 0 $ssg_space*2;
        }

        .select2-container--default .select2-selection--single {
            border: none;
            background-color: transparent;
        }
    }

    &__right {
        display: none;
    }

    // Offcanvas
    .offcanvas-header {
        .btn-close {
            padding-top: 20px;
        }
    }

    .offcanvas-body {
        padding: 0 25px;
    }

    .offcanvas.offcanvas-end {
        left: 0;
    }
}

// Mega Menu
/*
Credits:
Code snippet by @maridlcrmn (Follow me on Twitter)
Images by Nike.com (http://www.nike.com/us/en_us/)
Logo by Sneaker-mission.com (http://www.sneaker-mission.com/)
*/
.ssg_mega_menu {

    // Logo
    .navbar-brand {
        width: 70px;
        height: 50px;
        background: url('http://www.sneaker-mission.com/uploads/3/1/2/7/31279819/5617441.png') no-repeat center center;
        background-size: 50px;
    }

    .nav-link {
        color: $ssg_color_text;
    }

    // Dropdown ====================
    .dropdown-menu {
        border-radius: 1px;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.4s ease;
        opacity: 0;
        padding: 0;

        // Link in tab menu
        .list_links {
            display: flex;
            flex-wrap: wrap;
            /* Đảm bảo các thành phần con sẽ xuống dòng khi không đủ không gian */

            &__item {

                flex-basis: calc(100% - 20px);
                /* Chia đều thành 3 cột, trừ 20px để tạo khoảng cách giữa các cột */
                box-sizing: border-box;
                /* Đảm bảo tính toàn vẹn của kích thước, bao gồm cả border và padding */

                a {
                    color: white;
                    padding: 10px 15px 10px 0;
                    display: block;

                    &:hover {
                        color: $ssg_color_active;
                    }
                }
            }
        }

        .nav-link {
            color: white;
        }

        &.show {
            /* Đặt giá trị max-height phù hợp */
            max-height: 100%;

            opacity: 1;
            background-color: #101E32;
            padding: 15px 0;

            .tab-content {
                &>.tab-pane {
                    padding: 15px;
                }
            }
        }
    }

    .dropdown-toggle {
        position: relative;
        &::before {
            content: "-";
            font-size: 0;
            position: absolute;
            top: 35px;
            left: 0;
            right: 0;
            background-color: #000;
            opacity: 0;
            height: 25px;
            width: 100px;
        }

        &::after {
            margin-left: 10px !important;
        }
    }

    .has-megamenu {
        .dropdown-item {
            transition: all 0.4s;

            &:hover,
            &:focus {
                background-color: $ssg_color_active;

                a {
                    color: $ssg_color_primary;
                    text-decoration: none;
                }
            }
        }

        .column-menu {
            padding-left: 0;

            .dropdown-item {
                padding: 0;
            }
        }
    }

    .dropdown-item {
        border-radius: 1px;
        transition: all 0.4s;

        &:hover,
        &:focus {

            background-color: $ssg_color_primary;

            a {
                color: $ssg_color_active;
                text-decoration: none;
            }
        }
    }

    .nav-item {
        transition: border-color 0.4s;
        position: relative;

    }


    // Parent of mega =================
    .mega-dropdown {
        position: static !important;
    }

    .mega-dropdown-menu {
        padding: 20px 15px 15px;
        text-align: center;
        width: 100%;
    }

    .dropdown-mega {
        background-color: $ssg_color_primary;
        background-image: url('./images/mega-menu-bg.png');
        background-position-x: right;
        background-position-y: bottom;
        padding: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;


    }

    // Tabs ======================
    &__col_left {
        padding: $ssg_space*2 0;
        background-color: #101E32;
    }

    &__col_right {
        padding: $ssg_space*2;
    }

    .nav-tabs {
        background-color: #101E32;
        display: inline-block;
        border-bottom: none;
        padding-top: 15px;
        font-weight: bold;

        &>li>a,
        &>li>a:hover,
        &>li>a:focus,
        &>li.active>a,
        &>li.active>a:hover,
        &>li.active>a:focus {
            border: none;
            border-radius: 1px;
        }
    }

    .nav-list {
        border-bottom: 1px solid #eee;

        &>li {
            padding: 20px 15px 15px;
            border-left: 1px solid #eee;
        }

        &>li:last-child {
            border-right: 1px solid #eee;
        }

        &>li>a:hover {
            text-decoration: none;
        }

        &>li>a>span {
            display: block;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .nav-pills {
        color: white;
        background-color: #101E32;

        .nav-link {
            border-radius: 1px;
            color: white;
            display: flex;
            padding: 15px;
            justify-content: space-between;
            font-weight: normal;
            transition: all 0.4s;

            &.active,
            &:hover {
                background-color: $ssg_color_active;
                color: $ssg_color_primary;
                font-weight: 600;
            }

            &::after {
                content: url('./images/arrow-right.png');
                display: inline-block;
                width: 6px;
                height: 12px;
                transform: rotateZ(0deg);
            }
        }
    }

    .tab-content {
        color: white;
        background-color: $ssg_color_primary;
    }

    // Nav Toogler
    .navbar-toggler {
        outline: none;
        border: none !important;
        box-shadow: none !important;

        &:focus {
            outline: none;
            border: none !important;
            box-shadow: none !important;
        }
    }
}

.ssg_search_modal {
    .modal-content {
        border-radius: 5px;

        .modal-body {
            padding: 30px;
        }
    }

    &__input {
        margin: auto;
        padding: 7px 15px;
        display: block;
        width: 100%;
        border: solid 1px #d9d9d9;

        &:focus {
            outline: #101E32;
        }
    }
}