.navbar .megamenu {
    padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    #main_nav {
        padding-right: 15px;
    }
}

/* ============ mobile view .end// ============ */

.navbar-toggler {
    border: none;
    outline: none;

    &:focus {
        box-shadow: none;
    }
}

.navbar-nav {
    .nav-link {

        &.active,
        &.show {
            color: $wep_color_primary !important;
            transition: all 0.4s;

            &::after {
                transform: rotateZ(180deg);
            }
        }
    }

    .dropdown-menu {
        border: none;

        a {
            display: block;
            line-height: 2.0;
            font-size: 14px;
            padding: 0 15px;            

            &:hover {
                text-decoration: none;
            }
        }
    }


}

.search-icon {
    padding: 2px 15px;
}

.select2-container--default {
    .select2-selection--single {
        border: none !important;
    }
} 