.wep_home_testimonial {
    background-image: url('./images/home/home-testimonial-bg.png');
    background-position-x: center;
    padding: $wep_space*3 15px;

    &__text {
        text-align: left;
        font-style: italic;

        &::before {
            content: url('./images/home/home-testimonial-quote-icon.png');
            display: block;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    &__avatar {
        padding: 40px 100px;
    }

    &__name {
        text-align: center;
    }

    &__title {
        text-align: center;
        font-style: italic;
    }

    &.wep_bg_dark {
        .wep_home_testimonial__title {
            color: $wep_color_active;
        }
    }
}