.ssg_home_news_image {

    &__item {
        transition: transform 0.4s;

        &:hover {
            transform: translateY(-10px);
        }

        margin-bottom: 15px;
    }

    &__thumbnail {
        overflow: hidden;
        display: block;
    }

    &__content {
        padding: $ssg_space;
        background-color: #f8f8f8;
    }

    &__category {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__category_link {
        font-weight: 600;
        transition: text-decoration 0.4s ease;

        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        line-height: 1.5;

        a {
            transition: text-decoration 0.4s;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}