.ssg_home_contact {
    background-image: url('./images/home/home-contact-bg.png');
    background-position-x: center;
    background-position-y: bottom;
    padding: $ssg_space*1.2 15px;

    h3 {
        line-height: 1.4;
        font-size: 24px;
        margin-bottom: 30px;
    }
}