.ssg_vertical_tab {
    .nav-link {
        color: $ssg_color_primary;
        font-weight: 600;
        padding: $ssg_space;
        border-radius: 2px;

        &.active {
            color: $ssg_color_active;
            background-color: $ssg_color_primary;
        }
    }

    .tab-content {
        border: solid 1px #d9d9d9;
        padding: $ssg_space;

        h4 {
            color: $ssg_color_primary;
        }

        ul {
            list-style-type: none;
            padding-left: 15px;
            line-height: 1.5rem;
            list-style-image: url('./images/arrow-right.png');

            li {
                margin-bottom: 10px;
                padding-left: 5px;
            }
        }

        img {

            &.alignright {
                float: right;
            }

            &.alignleft {
                float: left;
            }

            &.aligncenter {
                display: block;
                margin: auto;
            }
        }
    }

    .tab-content {
        display: flex;

        &>.tab-pane {
            display: block;
            /* undo "display: none;" */
            visibility: hidden;
            margin-right: -100%;
            width: 100%;
        }

        &>.active {
            visibility: visible;
        }
    }

}

#staticBackdrop {
    .client_detail {
        img {
            max-width: 100%;
            height: auto;
            margin: auto;
        }
    }

    .client_logo {
        max-width: 100px;
        height: auto;
    }

    .loading-spinner {
        display: none;
        text-align: center;
    }

    .popup-content {
        display: none;
    }
}