.ssg_home_news {

    &__date {
        font-size: 12px;
        color: $ssg_color_primary;
        margin-bottom: 10px;
    }

    &__text {
        color: $ssg_color_text;
    }

    &__title {
        font-size: 16px;
        line-height: 1.4;
        transition: text-decoration 0.4s;

        &:hover {
            text-decoration: underline;
        }
    }

    &__item {
        margin-bottom: 30px;
        border: none;
            border-radius: 0; 
            padding: 1px;
            padding-bottom: 0;
            clip-path: polygon(30px 0,
                    100% 0,
                    100% 30px,
                    100% 100%,
                    100% 100%,
                    0 100%,
                    0 calc(100% - 30px),
                    0 30px);
            background-color: #D9D9D9; // poligon border 
            transition: color 0.4s, background-color 0.4s; 
            box-shadow: inset 0px 2px 15px 0px rgba(0, 0, 0, 0.07);   

            // bottom border
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background-color: $ssg_color_primary;                                        
            }

            .content {
                padding: 40px 30px;    
                clip-path: inherit;
                z-index: 0;
                background-color: white;
                position: relative;

                .ssg_more_link {
                    position: absolute;
                    left: 30px;
                    bottom: 30px;
                }
            }
    }
}