.ssg_hiring_single {
    position: relative;
    z-index: 999;
    background-color: #fff;
    top: -160px;
    width: 100%;
    margin: auto;
    line-height: 1.7rem;
    padding: 40px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.5) !important;

    &__info {
        .field {
            strong {
                display: block;
                padding-left: 24px;
                text-transform: uppercase;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1rem !important;
        margin-bottom: 1.3rem !important;
    }

    &__heading {
        font-size: 32px;
        color: $ssg_color_primary;
    }

    &__info {
        background-color: #F3EFEB;
        color: $ssg_color_primary;
        padding: 40px;
        margin-left: -40px;
        margin-right: -40px;        
        margin-bottom: 20px;
    }

    .hiring {
        &_description,
        &_requirment,
        &_benefit  {
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: solid 1px #E5E5E5;
        }
    }


}