#progress-bar {
    position: absolute;
    top: 0; // below header 
    left: 0;
    width: 0;
    height: 4px;
    z-index: 99999;
    background-color: #b22222;
    transition: width 1s;
}

#progress-section {
    position: absolute;
    top: 0; // below goto 
    left: 0;
    width: 0;
    height: 4px;
    z-index: 99999;
    background-color: #168f34;
    transition: width 1s;
}

#ssg_goto_section {
    .ssg_goto_section__item {
        span {
            position: absolute;
            display: block;
            content: "";
            width: 0%;
            left: 0;
            top: -30px;
            bottom: 50px;
            background-color: $ssg_color_primary;
            filter: opacity(0.1);

            &.active {
                width: 100% !important;
            }
        }
    }
}