.slideUp {
    transform: translateY(100%);
    transition: transform 1s ease;
}

.slideDown {
    transform: translateY(0);
    transition: transform 1s ease;
}

.fadeIn {
    opacity: 0;
    /* Bắt đầu với độ mờ là 0 */
    transition: opacity 1s ease-in-out;
    /* Áp dụng hiệu ứng chuyển đổi opacity */
}

.fadeOut {
    opacity: 1;
    /* Bắt đầu với độ mờ là 1 */
    transition: opacity 1s ease-in-out;
    /* Áp dụng hiệu ứng chuyển đổi opacity */
}

.visible {
    opacity: 1;
    /* Hiển thị đối tượng với độ mờ là 1 */
}

.hidden {
    opacity: 0;
    /* Ẩn đối tượng với độ mờ là 0 */
}