// Button & Links
.wep_button {
    color: $wep_color_primary;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 40px;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: nowrap;
    clip-path: polygon(17px 0,
            100% 0,
            100% 17px,
            100% calc(100% - 17px),
            calc(100% - 17px) 100%,
            0 100%,
            0 calc(100% - 17px),
            0 17px);

    &--white {
        background-color: white;
        transition: all 0.4s ease-out;

        &:hover {
            background-color: $wep_color_active;
        }
    }

    &--blue {
        background-color: $wep_color_active;
        transition: all 0.4s;

        &:hover {
            background-color: #eee;
        }
    }

    &--primary {
        border: none;
        background-color: $wep_color_primary;
        color: white;
        font-size: 12px;  
        transition: all 0.4s;
        
        &:hover {
            color: $wep_color_primary;
            background-color: #eee;
        }
    }
}

.wep_button_border {
    color: $wep_color_primary;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 50px;
    position: relative;
    text-align: center;
    height: 45px;
    line-height: 45px;
    clip-path: polygon(17px 0,
            100% 0,
            100% 17px,
            100% calc(100% - 17px),
            calc(100% - 17px) 100%,
            0 100%,
            0 calc(100% - 17px),
            0 17px);
    background-color: #333; // border      

    &::before {
        content: attr(data-content);
        position: absolute;
        display: block;
        height: 43px;
        line-height: 43px;
        top: 1px;
        left: 1px;
        bottom: 1px;
        right: 1px;
        clip-path: inherit;
        text-wrap: nowrap;
        z-index: 0;
    }

    &--white {
        &::before {
            background-color: #fff;
        }
    }
}


// Links
.wep_more_link {
    color: $wep_color_primary;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        &::after {
            margin-left: 13px;
        }
    }

    &::after {
        content: url(./images/arrow-right-blue.png);
        margin-left: 10px;
        margin-top: 3px;
        transition: margin 0.4s;
    }
}