
// Font family
$font-family-base: 'Lexend Deca', sans-serif;
$font-size-base: 16px;

// Heading Size
$h1-font-size: 45px;
$h2-font-size: 40px;
$h3-font-size: 36px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 12px;

// Container widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 970px,
  xl: 1200px
);

// SSG Colors
$ssg_color_primary: #132239;
$ssg_color_active: #00FFFF;
$ssg_color_text: #363636;

// SSG Space
$ssg_space: 20px;

// Body color
$body-color: #373737;

// Link color
$link-color: #14233A;
$link-hover-color: #14233A;

// Link decoration
$link-decoration: none;
